
#main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#myRange {
  z-index: 5;
  position: absolute;
  width: 50%;
}

#map-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 75vh;
  width: 100%;
}
#map {
  z-index: 4;
  width: 100%;
  height: 75vh;
  transition: width 0.3s ease-in-out;
}

#Daily {
  width: 0    ;
  height: 70vh;
  overflow-y: auto;
  padding: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  transition: width 0.3s ease-in-out;

}

#nav-profile-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



#nav-profile-box-avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

#nav-profile-box-avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
